body {
	padding:20px;
	
}

.logo {
	width:800px;
	margin-bottom:20px;
	display:block;
	margin-left: auto;
    margin-right: auto;
}

.registrarte {
	width:120px;
	margin-bottom:5px;
	display:block;
	margin-left: auto;
    margin-right: auto;
	background: #FF0066;
    border: 1px solid;
	color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 1.2em/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.logearte {
	width:120px;
	margin-bottom:5px;
	display:block;
	margin-left: auto;
    margin-right: auto;
	background: #FF0066;
    border: 1px solid rgba(33, 68, 72, 0.59);
	color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 1.2em/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
label,input {
	display:block;
	margin-top:10px;
}

.flash-message {
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:yellow;
	text-align:center;
	padding:5px;
}

nav ul {
	list-style-type:none;
	padding:5px 0px 5px 0px;
}

nav ul li {
	display:inline;
	margin-right:10px;
}

a:link, a:visited, a:active, a:hover {
	text-decoration:underline;
}

.tags {
	color:grey;
	font-family:consolas;
}

.name-task {
	color:#006;
	font-size:18px;
}

.task {
	border:1px solid #ccc;
	padding:10px;
	padding-top:0px;
	float:left;
	width:650px;
	margin-right:10px;
	margin-bottom:10px;
	height:100px;

}

.btn-edit{
	padding:15px;
	border:1px solid #ccc;
	float:right;
	padding:10px;
	margin-right:10px;
	margin-top:5px;
}

.image{
	border:1px solid #ccc;
	float:left;
}

button.btn-delete{
	float:right;
}

.completed{
	color:#060;
	font-weight:bold;
}