body {
	padding:20px;
	
}

.logo {
	width:800px;
	margin-bottom:20px;
	display:block;
	margin-left: auto;
    margin-right: auto;
}

.registrarte {
	width:150px;
	padding:3px;
	margin-bottom:5px;
	display:inline-block;
	margin-left: 500px;
    margin-right: auto;
	background: #FF0066;
    border: 20px solid;
	border-style:solid;
	color: white;
    text-align: center;
    font: bold 1.0em/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.logearte {
	width:150px;
	padding: 3px;
	margin-bottom:5px;
	display:inline-block;
	margin-left: auto;
    margin-right: auto;
	background: #FF0066;
    border: 20px solid ;
	border-style:solid;
	color: white;
    text-align: center;
    font: bold 1.0em/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
label,input {
	display:block;
	margin-top:10px;
}

.flash-message {
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:FF0066;
	text-align:center;
	padding:5px;
}

nav ul {
	list-style-type:none;
	padding:5px 0px 5px 0px;
}

nav ul li {
	display:inline;
	margin-right:10px;
}

a:link, a:visited, a:active, a:hover {
	text-decoration:none;
}

.tags {
	color:grey;
	font-family:consolas;
}

.name-task {
	color:#006;
	font-size:18px;
}

.task {
	border:1px solid #ccc;
	padding:10px;
	padding-top:0px;
	float:left;
	width:650px;
	margin-right:10px;
	margin-bottom:10px;
	height:100px;

}

.btn-edit{
	padding:15px;
	border:1px solid #ccc;
	float:right;
	padding:10px;
	margin-right:10px;
	margin-top:5px;
}

.image{
	border:1px solid #ccc;
	float:left;
}

button.btn-delete{
	float:right;
}

.completed{
	color:#060;
	font-weight:bold;
}